---
import SiteLayout from "../layouts/default.astro";

import Increment1 from "../images/increment1.png";
import Increment2 from "../images/increment2.png";
import Increment3 from "../images/increment3.png";
import Increment4 from "../images/increment4.png";
import Increment5 from "../images/increment5.png";

import MissionValues from "../images/maukatomakai.webp";
---

<SiteLayout>
  <header class="masthead" style={`background-image: url(${MissionValues.src})`}>
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="text-white">
            <h1 class="mb-1">Our Vision</h1>
            <h2>Connect our community, mauka to makai</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h2>Overview</h2>
        <div class="border border-green"></div>
        <p>
          At Waimea Trails and Greenways, our vision is to create a seamless and safe multimodal
          trail system that connects the heart of Waimea to the stunning coastline, integrating with
          the historic Ala Kahakai National Historic Trail system. This initiative, known as Ke Ala
          Kahawai O Waimea (The Streamside Trail of Waimea), aims to provide an accessible and
          sustainable transportation and recreation option for all community members. Our trail will
          bridge the gap between neighborhoods, schools, commercial centers, and the natural beauty
          of our environment, enhancing the quality of life for everyone in our community.
        </p>
      </div>
    </div>
    <div class="row">
      <h2>How the trail is divided up</h2>
      <div class="col">
        <p>
          The Waimea Trails and Greenways project is strategically divided into five increments,
          each designed to progressively enhance connectivity, safety, and accessibility throughout
          Waimea. Each increment builds upon the previous, ensuring that the benefits are realized
          progressively, and the community enjoys enhanced transportation and recreational options
          with each phase completed.
        </p>
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1GDd_C1TRRRxEEkM3SqT44FzZfH8pJEc&ehbc=2E312F"
          width="100%"
          height="480"></iframe>
      </div>
    </div>
    <div class="row mt-5">
      <h2 class="my-3">Increment 1 - Lindsey Road to Kahawai Street</h2>

      <div class="col-6">
        <h3>History of Increment 1</h3>
        <p>
          Increment 1 of the Waimea Trails and Greenways project represents the heart and soul of
          our vision. Built by dedicated volunteers over the past 30 years, this 1.1-mile portion of
          the trail stretches from Lindsey Road to Kahawai Street. Known as Ke Ala Kahawai O Waimea
          (The Streamside Trail of Waimea), this section has been painstakingly maintained by our
          community members, who have invested countless hours in its upkeep. As the main
          thoroughfare of our trail system, Increment 1 is heavily used by the community, providing
          a vital space for recreation, exercise, and connection with nature.
        </p>
        <h3>The Current Status</h3>
        <p>
          Currently, Increment 1 is a mix of wood chips and dirt paths, requiring constant
          maintenance to remain usable. While beloved by many, this section of the trail is not
          fully accessible to all members of our community, particularly those with disabilities.
          The uneven surface and frequent upkeep needed to address erosion and overgrowth pose
          challenges to ensuring a safe and inclusive environment for all users. Despite these
          challenges, the trail continues to serve as a crucial recreational and commuting pathway
          for Waimea residents.
        </p>
        <h3>Upgrades and Improvements</h3>
        <p>
          In 2024, the County of Hawai'i submitted a proposal to the RAISE program to upgrade this
          portion of the trail. Detailed information about this proposal can be found <a
            href="https://www.hawaiicounty.gov/our-county/mayor/waimea-trails-and-greenways-project"
            >here</a
          >.
        </p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src={Increment1.src} />
        <p class="text-muted font-small">Current trail denoted in blue</p>
      </div>
    </div>
    <div class="row mt-5">
      <h2>Increment 2 - Kahawai St to Transfer Station</h2>
      <div class="col-6">
        <p>
          Increment 2 of the Waimea Trails and Greenways project will extend the trail from the
          Kahawai St to the Transfer Station. The extension will also include rest areas and scenic
          overlooks, allowing users to enjoy the natural beauty of Waimea. The trail will seamlessly
          integrate with the existing landscape, preserving the environment while enhancing
          usability.
        </p>
        <p>
          This extension is crucial for improving connectivity and accessibility within Waimea. By
          linking more residential areas to the main trail, Increment 2 will provide residents with
          a safe and convenient non-motorized transportation option, promoting health, wellness, and
          a stronger sense of community. Additionally, the trail extension will connect to a
          proposed future county park near the Transfer Station, further enhancing recreational
          opportunities and providing a central gathering space for the community.
        </p>
      </div>

      <div class="col-6">
        <img class="img-fluid" src={Increment2.src} />
        <p class="text-muted font-small">Proposed increment 2 alignment denoted in blue</p>
      </div>
    </div>

    <div class="row mt-5">
      <h2>Increment 3 - Transfer Station to 'Ōuli Park</h2>
      <div class="col-6">
        <p>
          Increment 3 of the Waimea Trails and Greenways project will extend the trail approximately
          1.5 miles from the Transfer Station to <a
            href="https://www.drylandforest.org/dry-forest-corridors/ouli-park">'Ōuli Park</a
          >, which is currently inaccessible. This extension will significantly enhance the
          connectivity and usability of the trail system, providing a safe route on Kawaihae Road
          across from Kamuela View Estates.
        </p>
        <p>
          In addition to the pedestrian and cyclist pathways, there is a possibility of
          incorporating an equestrian trail, allowing horseback riders to enjoy the trail as well.
          This multi-use approach will cater to a broader range of users, enhancing the community's
          recreational opportunities. The extension will feature native Hawaiian plants and
          seamlessly integrate with the natural landscape, preserving the beauty of Waimea while
          providing valuable recreational space for residents and visitors alike.
        </p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src={Increment3.src} />
      </div>
    </div>

    <div class="row mt-5">
      <h2>Increment 4 - Expansion towards Church Row</h2>
      <div class="col-6">
        <p>
          Increment 4 of the Waimea Trails and Greenways project aims to extend the trail from the
          current terminus at Lindsay Road to Church Row, a historic and cultural hub in Waimea.
          This extension is more than just a path; it is a vital connection to the heart of our
          community and its rich heritage. By linking the trail to Church Row, we are creating a
          corridor that weaves through the very fabric of Waimea's history and daily life.
        </p>

        <p>
          This scenic and educational route will feature historical markers and informational
          plaques, providing insights into the area's cultural significance. As users travel along
          this extension, they will be immersed in the stories and traditions that have shaped
          Waimea. Church Row, with its charming historic churches and vibrant community events,
          represents a central gathering place for residents. By connecting the trail to this
          pivotal area, Increment 4 will serve as a crucial artery to the community's cultural and
          social activities.
        </p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src={Increment4.src} />
      </div>
    </div>

    <div class="row mt-5">
      <h2>Increment 5 - Ouli Park to the Ala Kahakai National Historic Trail</h2>
      <div class="col-6">
        <p>
          Increment 5 of the Waimea Trails and Greenways project represents the culmination of our
          grand vision to create a continuous, awe-inspiring trail from mauka to makai. This final
          phase will extend the trail from 'Ōuli Park all the way to the <a
            href="https://dlnr.hawaii.gov/dsp/hiking/hawaii/ala-kahakai-trail-kawaihae-anaehoomalu/"
            >Ala Kahakai National Historic Trail</a
          > along the coast. By doing so, we will realize a trail that seamlessly traverses the diverse
          landscapes of Waimea, connecting the lush uplands with the pristine coastline.
        </p>
        <p>
          This extension embodies the grandeur and ambition of our vision, providing a majestic
          route that showcases the natural beauty and cultural heritage of the Big Island. As users
          journey from the mountains to the sea, they will experience a variety of ecosystems, from
          verdant forests and lava fields to coastal beaches. The trail will offer stunning vistas
          and unique encounters with native Hawaiian plants and wildlife, making every step a
          memorable adventure.
        </p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src={Increment5.src} />
      </div>
    </div>
  </div>
</SiteLayout>
